.venv
/raw_data
/documents
test.py
CLAUDE.md
cogwear-can-we-detect-cognitive-effort-with-consumer-grade-wearables-1.0.0.zip
pipeline_design_notes.md
Final-Plan.md


data/processed/

__pycache__/
*.pyc
*.pyo
.DS_Store
